@let todos = ( todosList$ | async) ?? [];
<h2>Todo List</h2>
@if (todos) {
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for (todo of todos; track todo.id) {
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.title }}</td>
            <td>
                {{ todo.completed }}
            </td>
        </tr>
        }@empty {
        @if (errorMessage) {
        <p class="text-red-700 ">{{ errorMessage }}</p>
        } @else {
        <p class="text-xl p-4 text-center">No data</p>
        }
        }
    </tbody>
</table>
} @else {
<p>Loading todos...</p>
}